@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import "./_global.css";
body {
    background-color: beige;
}

#one {
    color: var(--primary-color);
}

#two {
    color: red;
    font-family: 'Raleway', sans-serif;
}