@import "tailwindcss";
@import "tw-animate-css";
@import 'tailwind-scrollbar-hide/v4';
@import 'lenis/dist/lenis.css';

/* latin */
@font-face {
	font-family: 'Plaster';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/plaster-regular.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Play';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/play-regular.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Play';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/play-bold.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--font-sans: "Play", sans-serif;
	--font-display: "Plaster", cursive;

	--color-background: 0 0% 3.9%;
	--color-foreground: 0 0% 98%;
	--color-primary: 0 0% 98%;
	--color-primary-foreground: 0 0% 9%;
	--color-secondary: 0 0% 14.9%;
	--color-secondary-foreground: 0 0% 98%;
	--color-muted: 0 0% 14.9%;
	--color-muted-foreground: 0 0% 63.9%;
	--color-accent: 0 0% 14.9%;
	--color-accent-foreground: 0 0% 98%;
	--color-destructive: 0 62.8% 30.6%;
	--color-destructive-foreground: 0 0% 98%;
	--color-border: 0 0% 14.9%;
	--color-input: 0 0% 14.9%;
	--color-ring: 0 0% 83.1%;

	--radius: 0.5rem;

	font-family: var(--font-sans);
	line-height: 1.5;
	font-weight: 400;
	color: hsl(var(--color-foreground));
	background-color: hsl(var(--color-background));
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme inline {
	--background: var(--color-background);
	--foreground: var(--color-foreground);
	--primary: var(--color-primary);
	--primary-foreground: var(--color-primary-foreground);
	--secondary: var(--color-secondary);
	--secondary-foreground: var(--color-secondary-foreground);
	--muted: var(--color-muted);
	--muted-foreground: var(--color-muted-foreground);
	--accent: var(--color-accent);
	--accent-foreground: var(--color-accent-foreground);
	--destructive: var(--color-destructive);
	--destructive-foreground: var(--color-destructive-foreground);
	--border: var(--color-border);
	--input: var(--color-input);
	--ring: var(--color-ring);
	--radius: var(--radius);
	--font-sans: var(--font-sans);
	--font-display: var(--font-display);
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}


@layer base {
	body {
		/* @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))]; */
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
	}

	p,
	a {
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
	}
}